
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        window.onload = window.history.forward(0);  //calling function on window onload
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>AdminMainPage</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
